body { transition: 1s all ease; }

body.dark {
  background-color: rgb(32, 32, 32);
  color: #fff;
}

a {
  color: #ffc356;
}

blockquote {
  color: rgba(255, 195, 86, 0.8);
  border-left: 0.32813rem solid #ffc356;
}

@keyframes moonDown {
  from {
    top: -20px;
  }
  to {
    top: 0;
  }
}

@keyframes sunRise {
  from {
    top: 20px;
  }
  to {
    top: 0;
  }
}

#moon-icon { 
  animation: 1s moonDown;
}

#sun-icon { 
  animation: 1s sunRise;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(32, 32, 32);
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
      background-color: #fff;
      color: rgb(32, 32, 32);
  }
}

@media (max-width: 640px) {
  #moon-icon { display: none; }
  #sun-icon { display: none; }
}
